<template>
<div id="gameMenu" v-if="start">
    <h1>Welcome to Trivia Quiz</h1>
    <input type="text" class="form-control" v-model="contestantName" placeholder="Name" />
    <button id="startButton" class="btn btn-success" v-on:click="startQuiz()">Start Quiz</button>
  </div>
</template>

<script>

export default {
  name: "GameMenu",
  data() {
    return {
      contestantName: "",
      quizQuestions: [
        {
          question: "Hva heter du?"
        }
      ],
      start: true
    };
  },
  methods: {
    startQuiz() {
        this.$router.push({path: '/play',name: 'gameplay', params: {contestantName: this.contestantName}})
    }
  }
};
</script>

<style>
#startButton {
  margin: 10px auto 10px auto;
}
</style>