<template>
  <div id="gameOver">
      <div>
          <p>Game over, {{contestantName}} </p>
          <p>The results are in! Your score: {{score}}/{{counter}}</p>
          <div v-for="ans in quizQuestionAnswered" v-bind:key="ans.index">
          <quiz-results
          v-bind:question="ans.question"
          v-bind:answer="ans.answer"
          v-bind:correctAnswer="ans.correctAnswer"
          ></quiz-results>
          </div>
      </div>
      <button class="btn btn-success" v-on:click="restartQuiz()">Restart</button>
  </div>
</template>

<script>
import QuizResults from './QuizResults.vue'

export default {
    name: 'GameOver',
    props: {
        contestantName: String,
        counter: Number,
        score: Number,
        quizQuestionAnswered: []
    },
    components: {
        'quiz-results': QuizResults
    },
    methods: {
        restartQuiz() {
            this.$router.push('/menu')
        }  
    },
    data() {
        return {
        }
    },
    created() {
    }
}
</script>

<style>
    #gameOver {
        width: 50px,
    }
</style>