t<template>
  <div class="GameComponent">
    <div class="row">
      <div class="col-lg" id="GameComponentField">
        <ol v-bind:key="counter">
          <quiz-question
            v-if="quizQuestionList.length > 0"
            v-bind:question="htmlDecode(currentQuestion().question)"
            v-bind:correctAnswer="htmlDecode(currentQuestion().correct_answer)"
            v-bind:answers="currentQuestion().incorrect_answers"
            @clicked="onClickAnswer"
          ></quiz-question>
        </ol>
      </div>
    </div>
  </div>
</template>

<script>
import QuizQuestion from "./QuizQuestion.vue";

export default {
  components: {
    "quiz-question": QuizQuestion
  },
  props: ["contestantName"],
  data() {
    return {
      quizQuestionList: [],
      quizQuestionAnswered: [
        { question: String, answer: String, correctAnswer: String }
      ],
      score: 0,
      counter: 0,
      testing: 0
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    /**
     * Fetches data from API
     * Puts it into quizQuestionList[]
     */
    fetchData() {
      fetch("https://opentdb.com/api.php?amount=10")
        .then(response => response.json())
        .then(
          quizQuestionList => (this.quizQuestionList = quizQuestionList.results)
        );
    },
    /**
     * Decodes JSON to more readable format
     */
    htmlDecode(input) {
      var doc = new DOMParser().parseFromString(input, "text/html");
      return doc.documentElement.textContent;
    },
    /**
     * Gets an answer from QuizQuestion component
     * Checks if correct answer
     * Send answer for update quizQuestionAnswered[]
     */
    onClickAnswer(ans) {
      if (ans === this.currentQuestion().correct_answer) {
        this.score += 10;
      }
      this.updateStatistic(ans);
      this.counter++;
      if (this.counter == 10) {
        this.gameOver();
      }
      this.currentQuestion();
    },
    //Updating quizQuestionAnswered[]
    updateStatistic(ans) {
      this.quizQuestionAnswered[this.counter] = {
        question: this.currentQuestion().question,
        answer: ans,
        correctAnswer: this.currentQuestion().correct_answer
      };
    },
    //get currentQuestion() from quizQuestionList[]
    currentQuestion() {
      if (this.counter < 10) {
        return this.quizQuestionList[this.counter];
      }
    },
    /**
     * Game is over
     * Routes to gameover with
     * gameresults
     */
    gameOver() {
      this.counter = this.counter * 10;
      this.$router.push({
          path: "/gameover",
          name: "gameover",
          params: {
            counter: this.counter,
            score: this.score,
            contestantName: this.contestantName,
            quizQuestionAnswered: this.quizQuestionAnswered
          }
      });
    }
  },
  //todo
  beforeDestroy() {
    //send quizQuestionAnswered array
  }
};
</script>