<template>
  <div>
    <div class="card">
      <div class="card-header">{{question}}</div>
      <div class="card-body">
        <div class="text-center">
          <div class="d-inline-block" v-for="ans in answers" v-bind:key="ans.index">
            <button style="margin: 5px" class="btn btn-success" v-on:click="onClickButton(ans)">{{ ans }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    question: String,
    type: String,
    correctAnswer: String,
    answers: {
      type: Array,
      default: () => []
    }
  },
  /**
   * When created adds correctAnswer to answers[]
   * Shuffles answers[]
   * Decodes answers[] to more readable text,
   * could possibly be done in gameplay aswell
   */
  created() {
    this.answers.push(this.correctAnswer);
    for (let i = this.answers.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * i);
      const temp = this.answers[i];
      this.answers[i] = this.answers[j];
      this.answers[j] = temp;
    }
    for (let k = 0; k < this.answers.length; k++) {
      this.answers[k] = this.htmlDecode(this.answers[k]);
    }
  },
  methods: {
    /**
     * When an answer is clicked, emits back to parent component
     */
    onClickButton(ans) {
      this.$emit("clicked", ans);
    },
    //HTML decoder for text
    htmlDecode(input) {
      var doc = new DOMParser().parseFromString(input, "text/html");
      return doc.documentElement.textContent;
    }
  }
};
</script>

<style>
#card {
  display: flex;
}
</style>