<template>
  <div class="card">
    <div class="card-header">{{question}}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <p v-if="answer == correctAnswer" class="text-success">{{answer}}</p>
          <p v-else class="text-danger">{{answer}}</p>
        </div>

        <div class="col-sm">
          <p>{{correctAnswer}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "quiz-results",
  props: ["question", "answer", "correctAnswer"],
  methods: {
    htmlDecode(input) {
      var doc = new DOMParser().parseFromString(input, "text/html");
      return doc.documentElement.textContent;
    }
  },
  created() {
    this.question = this.htmlDecode(this.question);
    this.answer = this.htmlDecode(this.answer);
    this.correctAnswer = this.htmlDecode(this.correctAnswer);
  }
};
</script>