<template>
  <div id="app">
    <div class="col align-self-center">
      <div>
        <img alt="Vue logo" src="./assets/logo.png">
        <router-link to="/menu"></router-link>
        <router-link to="/play"></router-link>
        <router-link to="/gameover"></router-link>
        <router-view></router-view>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue


export default {
  name: 'app',
  data() {
    return  {
    }
  },
  methods: {
    startGame() {
    }
  },
  beforeCreate() {
    this.$router.push('/menu')
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
</style>
